<footer class="container-fluid text-center navbar-fixed-bottom navbar-inverse footer">
  <a href="#myPage" title="To Top">
    <i class="fa fa-angle-double-up fa-lg"></i>
  </a>
  <p class="text-primary">Made By <a href="https://github.com/jonnymoore12/Makers-BnB-Challenge" title="Team Jesus">Team Jesus</a></p>
</footer>
