<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jesus BnB | Don't be like Mary!</title>
    <link type="image/png" rel="icon" href="img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans|Oswald' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/src/jquery.min.js"></script>
    <script src="/src/bootstrap.min.js"></script>
  </head>
  <body>

    <%= partial :header %>

    <div class="row">
      <br class="col-md-12">
    </div>

    <%= partial :flash_messages %>

    <%= yield %>

    <%= partial :footer %>

  </body>
</html>
