<div class="container-fluid jumbotron" id="wrap">
  <div class="container clear-top" id="main">
    <div class="logo col-md-4 col-md-offset-4">
      <img src="http://www.gifbin.com/bin/1233314731_e17c864bd6e0c3.gif" alt="Jesus BNB" class="img img-responsive"/>

    </div>
    <div class="col-md-12" >

      <div class="text-center row well" >
        <form action="/sessions" method="post" class="form-inline">
          <div class="form-group">
            <label for="email">Email: </label>
            <input name="email" type="email" placeholder="Enter Email" class="form-control"/>
          </div>

          <div class="form-group">
            <label for="password">Password: </label>
            <input name="password" type="password" placeholder="Enter Password" class="form-control"/>
          </div>


          <button value="Log In" type="submit" class="btn btn-primary classy-font">Log In <i class=" fa fa-sign-in"></i></button>
        </form>
      </div>
    </div>
  </div>


</div>
<br>
