<ul id="sent-requests">
  <% @sent_requests.each do |request| %>
    <li>Sent request for: <%= request.space.name %></li>
    <li>Status: <%= request.status %></li>
  <% end %>
</ul>

<ul id="received-requests">
  <% @received_requests.each do |request| %>
    <li>Received request for: <%= request.space.name %></li>
    <li>Status: <%= request.status %></li>
  <% end %>
</ul>
