.navbar {
    margin-bottom: 0;
    background-color: #3498db;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    height: 55px !important;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
    height: 55px !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #3498db !important;
    background-color: #fff !important;
    height: 55px !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

/*footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
}*/

.signup-form {
  padding: 30px;
}

.logo {
  max-width: 300px;
  padding: 10px;
}

.main-logo {
  max-height: 50px;
  padding-top: 3px;
}

.classy-font {
  font-family: 'Oswald', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.navbar-brand {
  padding: 0;
}
