<h1> Spaces </h1>

<form action="/spaces/new">
  <button type="submit">List a Space</button>
</form>

<ul id="space-list">
  <% @spaces.each do |space| %>
    <li>
      <h2><a href="/spaces/<%= space.id %>"><%= space.name %></a></h2>
      Description: <%= space.description %><br>
      Price per night: £<%= space.price %><br>
    </li>
  <% end %>
</ul>
